<!DOCTYPE html>
<html lang="en">
  <!--HEADER CONTENT-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Oklahoma City University</title>
    <meta name="description" content="Offical website of Oklahoma City University">
    <meta name="author" content="Deepiga Ravi">

    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/docs.css" rel="stylesheet"/>
    <link href="static/css/webapp.css" rel="stylesheet"/>
    <link href="static/css/clndr.css" rel="stylesheet"/>

    <link rel="icon" href="static/img/favicon.ico" />
    
  </head><!--HEADER CONTENT-->
  
  
  <body>
  
    <!--MAIN CONTAINER-->
    <div class="container">


      <!--HEADER ROW-->
      <div class="row">
        <div class="span5">
          <img src="static/img/logo-medium-white.png" class="header-logo"/>
        </div>
        <div class="span4">
          <div class="header-csc"><span class="small">Department of</span> <br/>Computer Science</div>
        </div>
        <div class="span3">
          <div class="share-title">Follow us on</div>
          <div class="share-img">
            <a href="https://www.facebook.com/oklahomacityuniversity"><img src="static/img/facebook.png"/></a>
            <a href="https://plus.google.com/117756642532068510442/about"><img src="static/img/google-plus.png"/></a>
            <a href="https://twitter.com/OKCU"><img src="static/img/twitter.png"/></a>
          </div>
          <div class="input-append header-search">
            <input id="searchText" class="header-search-text" type="text" placeholder="Search here.." />
            <button class="btn" type="button"><i class="icon-search"></i></button>
          </div>
        </div>
      </div><!--HEADER ROW-->

      <hr/>

      <!--MAIN BODY-->
      <div class="row small-row">
      
        <!--LEFT SIDE NAV BAR-->
        <div class="span3 small-span" style="position:relative;">
          <ul class="nav nav-list bs-docs-sidenav">
            <li><a href="index.html"><i class="icon-chevron-right"></i> Home</a></li>
            <li><a href="about.html"><i class="icon-chevron-right"></i> About</a></li>
            <li><a href="#" class="programNav"><i class="icon-chevron-right"></i> Program</a></li>
            <li><a href="#"><i class="icon-chevron-right"></i> Faculty & Staff</a></li>
            <li><a href="#" class="activitiesNav"><i class="icon-chevron-right"></i> Activities</a></li>
            <li><a href="facilities.html"><i class="icon-chevron-right"></i> Facilities</a></li>
            <li><a href="#"><i class="icon-chevron-right"></i> Research & Project</a></li>
            <li class="active"><a href="alumni.html"><i class="icon-chevron-right"></i> Alumni</a></li>
          </ul>
          <ul class="nav nav-list bs-docs-sidenav program-nav sub-nav-custom programNav">
            <li><a href="admission.html"><i class="icon-chevron-right"></i> Admission</a></li>
            <li><a href="scholarship.html"><i class="icon-chevron-right"></i> Scholarship</a></li>
          </ul>
          <ul class="nav nav-list bs-docs-sidenav activities-nav sub-nav-custom activitiesNav">
            <li><a href="#events"><i class="icon-chevron-right"></i> Events</a></li>
            <li><a href="#news"><i class="icon-chevron-right"></i> News</a></li>
          </ul>
        </div><!--LEFT SIDE NAV BAR-->
        
        <!--CENTER CAROUSEL-->
        <div class="span6 small-span">
          <div id="myCarousel" class="carousel slide myCarousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item"><img src="static/img/carousal/alumni/1.jpg"/></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div><!--CENTER CAROUSEL-->

        <!--FORUM BOX-->
        <div class="span3 small-span">
          <div class="contact">
            <div class="contact-title">CONTACT</div>
            <div class="contact-item">
              <span class="contact-name">Steven C. Agee</span><br/>Dean and Professor of Economics
              <span class="contact-email">sagee@okcu.edu<br/>(405) 208-6111</span>
            </div>
            <div class="contact-item">
              <span class="contact-name">Dr.Kewei Sha</span><br/>Head Of Department
              <span class="contact-email">ksha@my.okcu.edu</span>
            </div>
          </div>
          <!--div class="forum">
            <div class="forum-title">FORUM</div>
            <div class="forum-item">
              <span class="forum-name">Deepu asks</span>Can't we change this text to something more sensible?
              <span class="forum-more">(2 answers)</span>
            </div>
            <div class="forum-item">
              <span class="forum-name">Anil says</span>This website is looking good. Please change this text too.
              <span class="forum-more">(3 replies)</span>
            </div>
            <div class="forum-item">
              <span class="forum-name">Nisha thinks</span>This year's spring break is going to be the best one ever
              <span class="forum-more">(4 replies)</span>
            </div>
            <div class="forum-item">
              <span class="forum-name">Tina asks</span>Which course is the best to learn data mining?
              <span class="forum-more">(2 answers)</span>
            </div>
          </div-->
        </div><!--FORUM BOX-->
      </div>

      <div class="row small-row">
        <!--CAL BOX-->
        <div class="span3 small-span" id="calendar">
          <div id="mini-clndr">
            <script id="mini-clndr-template" type="text/template">
              <div class="controls">
                <div class="clndr-previous-button">&lsaquo;</div>
                <div class="month"><%= month %></div>
                <div class="clndr-next-button">&rsaquo;</div>
              </div>

              <div class="days-container">
                <div class="days">
                  <div class="headers">
                    <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
                  </div>
                  <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
                </div>
                <div class="events">
                  <div class="headers">
                    <div class="x-button">x</div>
                    <div class="event-header">EVENTS</div>
                  </div>
                  <div class="events-list">
                    <% _.each(eventsThisMonth, function(event) { %>
                    <div class="event">
                      <a href="<%= event.url %>"><%= moment(event.date).format('MMMM Do') %>: <%= event.title %></a>
                    </div>
                    <% }); %>
                  </div>
                </div>
              </div>

            </script>
          </div>
        </div><!--CAL BOX-->

        <!--FEED BOX-->
        <div class="span6 small-span">
          <div class="text-container">
            <h3>Welcome Home!</h3>

            <div>
            The Oklahoma City University Alumni Association keeps you connected to other alumni through a variety of cultural, social, and community programs. Whether your passion is mentoring or recruiting students, planning your class reunion or leading an alumni chapter in your hometown, we have many ways for you to stay active and involved. 
            </div>

            <a class="upImgLink" href="https://www.formstack.com/forms/okcu-loveocu_info_update">
                <img src="static/img/update-contact-ocu.jpg"/>
            </a>

            <h4>Contact the Alumni Office</h4>
            <div>
                <b>Cary Pirrong</b>, BS '87, JD '90<br/>
                Director of Alumni Relations <br/>
                P: 405-208-5463 <br/><br/>

                <b>Dana McBride</b><br/>
                Coordinator of Alumni Relations <br/>
                P: 405-208-5077<br/>
                E: <a href="mailto:alumni@okcu.edu">alumni@okcu.edu</a><br/>
            </div>
          </div>
        </div><!--FEED BOX-->
        
        <!--MAPS BOX-->
        <div class="span3 small-span">
          <iframe width="100%" src="https://www.youtube.com/embed/nZ2iDzGI6mg" frameborder="0" allowfullscreen></iframe>
          <div class="more-link">
            <div>For more details, visit</div>
            <a href="http://www.okcu.edu/">Oklahoma City University</a>
          </div>
          <!--a href="https://www.google.co.in/maps/place/Oklahoma+City+University/@35.494825,-97.541974,15z/data=!4m2!3m1!1s0x0:0x5b75c7d3c57b339" rel="tooltip" title="Open map" target="_blank" class="map-link">
            <img src="static/img/ocu-map.png" style="height:228px;"/>
          </a-->
        </div><!--MAPS BOX-->
      </div>

      <div class="row  small-row">
        <div class="span3 small-span">

        </div>
        
        <!--SHARE BOX-->
        <div class="span6 small-span">

        </div><!--SHARE BOX-->
        
        <!--VIDEO BOX-->
        <div class="span3 small-span">
          
        </div><!--VIDEO BOX-->
      </div>
      <!--MAIN BODY-->

      <!--FOOTER-->
      <div class="footer">
        <hr>
        <p>&copy; Oklahoma City University 2015</p>
      </div><!--FOOTER-->

    </div><!--MAIN CONTAINER-->
    
    <script src="static/js/jquery-1.8.3.js"></script>
    <script src="static/js/moment.min.js"></script>
    <script src="static/js/underscore.js"></script>
    <script src="static/js/clndr.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/webapp.js"></script>
     
  </body>
</html>
