body{
background: #004B87;
margin-top: 30px;
}

hr{
margin:10px 0;
}

.header-logo{
height:100px;
}

.header-csc{
font-size: 30px;
line-height: 27px;
color: #FFF;
margin-top: 25px;
margin-left: 30px;
}

.header-csc > .small{
font-size:18px;
}

.header-search{
margin-top: 55px;
text-align: right;
}

.nav>li>a {
font-size: 16px;
}

.myCarousel{
margin-top: 30px;
}

.carousel-control{
top:80%;
}

.forum{
margin-top:30px;
height:310px;
margin-bottom: 30px;
font-size: 14px;
background-color: #EEE;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
padding-bottom:10px;
overflow:auto;
}

.forum-title{
background: #FFF;
padding: 10px;
border-radius: 6px 6px 0 0;
-webkit-border-radius: 6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0;
font-size: 16px;
font-weight: 800;
text-align: center;
}

.forum-item{
padding:5px 10px;
border-top: 1px solid #AAA;
cursor:pointer;
}

.forum-item:hover{
background:#ddd;
}

.forum-name{
font-weight: 800;
font-style: italic;
margin-right:6px;
}

.forum-more{
color: #08F;
cursor: pointer;
font-size: 12px;
display: block;
text-align: right;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
height: 320px;
border-radius:6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
}

.map-link{
display:block;
border-radius:6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
}

.map-link > img{
border-radius:6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
}

.program-nav{
position: absolute;
top: 85px;
z-index: 1;
display:none;
}

.activities-nav{
position: absolute;
top: 135px;
z-index: 1;
display:none;
}

.day{
line-height:10px;
}

#calendar{
margin-bottom:30px;
}

.contact{
margin-bottom: 30px;
font-size: 14px;
background-color: #EEE;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
padding-bottom:10px;
overflow:auto;
}

.contact-title{
background: #FFF;
padding: 10px;
border-radius: 6px 6px 0 0;
-webkit-border-radius: 6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0;
font-size: 16px;
font-weight: 800;
text-align: center;
}

.contact-item{
padding:15px;
border-top: 1px solid #AAA;
cursor:pointer;
}

.contact-name{
font-weight: 800;
font-style: italic;
margin-right:6px;
}

.contact-email{
color: #08F;
cursor: pointer;
font-size: 14px;
margin-top:10px;
display: block;
}

.share-title{
text-align: center;
font-size: 21px;
color: #FFF;
padding: 10px;
font-style:italic;
}

.share-img{
text-align:center;
}

.share-img > a > img{
height: 75px;
margin: 20px 5%;
}

.feed-list{
padding:10px;
}

.feed-list > li > a{
line-height:30px;
}
